<div id='new-story'>
  <h4>Create your story</h4>
  <p>One day there was a {{select-item colors=colors items=characters name='main-character'}} who had a pet {{select-item colors=colors items=pets name='pets'}}</p>
</div>

<div id='new-story-artwork'>
</div>
